

<div class="{{ model.header.div.class }}" style="{{ model.header.div.style }}">
	<div class="row">
		
		<!-- title -->
		<h2 class="{{ model.header.title.class }}" style="{{ model.header.title.style }}">
		  	{{ model.header.title.title }}
		</h2>

		 <div class="{{ model.header.download.class }}" align="right" ng-if="model.header.download">
		 	<div class="fixed-action-btn horizontal" style="position: relative; display: inline-block; margin-top:66px;">
			    <a class="btn-floating btn-large teal">
			      <i class="large material-icons">cloud_download</i>
			    </a>
			    <ul>

			    	<!-- ng-repeat here adding each config obj which returns a </li> element -->
			    	<div >
				    	<!-- download options -->
				    	<ngm-dashboard-download 
				    		ng-repeat="data in model.header.download.downloads track by $index"
							type="data.type"
							color="data.color"
							icon="data.icon"
							hover="data.hover"
							filename="data.filename"
							request="data.request"
							metrics="data.metrics">
				    	</ngm-dashboard-download>
				    </div>

			    </ul>
		  </div>
		</div>

	</div>

	<div class="row">
		
		<!-- subtitle -->
		<p class="{{ model.header.subtitle.class }}" style="{{ model.header.subtitle.style }}">
			{{ model.header.subtitle.title }}
		</p>

		<!-- ngm date -->
		<div class="{{ model.header.datePicker.class }}">
			<div ng-repeat="date in model.header.datePicker.dates track by $index">
			
				<!-- date picker -->
				<div id="ngmDateContainer-{{ $index }}" class="{{ date.class }}" style="{{ date.style }}">
					<label for="ngmStartDate-{{ $index }}">{{ date.label }}</label>	
					<input ngm-date 
						id="ngmStartDate" 
						type="text" 
						class="datepicker"
						ng-model="date.time"
						format="{{ date.format }}"
						on-selection="date.onSelection()">
					</input>
				</div>
			</div>
		</div>

	</div>
</div>
