

<div class="{{ model.header.div.class }}" style="{{ model.header.div.style }}">
	<div class="row">
		
		<!-- title -->
		<h2 class="{{ model.header.title.class }}" style="{{ model.header.title.style }}">
		  	{{ model.header.title.title }}
		</h2>

		<!-- download div container -->
		<div class="{{ model.header.download.class }}" 
			style="{{ model.header.download.style }}"
			ng-repeat="download in model.header.download.downloads">

			<!-- ngm dashboard directive -->
			<ngm-dashboard-download
				icon="download.icon"
				type="download.type"
				hover="download.hover"
				filename="download.filename"
				dataKey="download.dataKey"
				request="download.request" 
				metrics="download.metrics">
			</ngm-dashboard-download>

		</div>

	</div>

	<div class="row">
		
		<!-- subtitle -->
		<p class="{{ model.header.subtitle.class }}" style="{{ model.header.subtitle.style }}">
			{{ model.header.subtitle.title }}
		</p>

		<!-- ngm date -->
		<div class="{{ model.header.datePicker.class }}">
			<div ng-repeat="date in model.header.datePicker.dates track by $index">
			
				<!-- date picker -->
				<div id="ngmDateContainer-{{ $index }}" class="{{ date.class }}" style="{{ date.style }}">
					<label for="ngmStartDate-{{ $index }}">{{ date.label }}</label>	
					<input ngm-date 
						id="ngmStartDate" 
						type="text" 
						class="datepicker"
						ng-model="date.time"
						format="{{ date.format }}">
					</input>
				</div>
			</div>
		</div>

	</div>
</div>
