

<div class="{{ model.header.div.class }}" style="{{ model.header.div.style }}">
		
	<!-- row -->
	<div class="row">

		<!-- title -->
		<h2 id="ngm-report-title" class="{{ model.header.title.class }}" style="{{ model.header.title.style }}" 
			ng-bind-html="model.header.title.title">
		</h2>

		<!-- download -->
		<div id="ngm-report-download" class="{{ model.header.download.class }}" style="{{ model.header.download.style }}" align="right" ng-if="model.header.download">
		 	<div class="fixed-action-btn horizontal" style="position: relative; display: inline-block; margin-top:66px;">
			    <a class="btn-floating btn-large {{ model.header.download.btnColor }} z-depth-2">
			      <i class="large material-icons">cloud_download</i>
			    </a>
			    <ul>

			    	<!-- ng-repeat here adding each config obj which returns a </li> element -->
			    	<div>
				    	<!-- download options -->
				    	<ngm-dashboard-download 
				    			ng-repeat="data in model.header.download.downloads track by $index"
									type="data.type"
									color="data.color"
									icon="data.icon"
									hover="data.hover"
									filename="data.filename"
									url="data.url"
									request="data.request"
									metrics="data.metrics">
				    	</ngm-dashboard-download>
				    </div>

			    </ul>
		  	</div>
		</div>

	</div>

	<!-- row -->
	<div class="row">
		
		<!-- subtitle -->
		<p id="ngm-report-subtitle" class="{{ model.header.subtitle.class }}" style="{{ model.header.subtitle.style }}"
			ng-bind-html="model.header.subtitle.title">
		</p>

		<!-- ngm date -->
		<div id="ngm-report-datepicker" class=" {{ model.header.datePicker.class }}" style="{{ model.header.datePicker.style }}">
			<div ng-repeat="date in model.header.datePicker.dates track by $index">
			
				<!-- date picker -->
				<div id="ngmDateContainer-{{ $index }}" class="ngm-date" style="{{ date.style }}">
					<label for="ngmDateLabel-{{ $index }}">{{ date.label }}</label>
						<input ngm-date
								id="ngmDatePicker-{{ $index }}"
						    type="text"
						    name="{{ date.name }}"
						    ng-model="date.currentTime"
						    format="{{ date.format }}"
						    min="{{ date.min }}"
						    max="{{ date.max }}"
						    on-close="date.onClose()"/>
				</div>
			</div>
		</div>

	</div>
</div>
